<!DOCTYPE html>
<html lang="hr">
    <head>
        <title>Nacionalni parkovi</title>
        <meta charset="UTF-8">
        <meta name="description" content="Baza podataka nacionalnih parkova">
        <meta name="author" content="Lucija Perković">
        <meta name="keywords" content="national parks, nacionalni parkovi, Yellowstone, Plitvička jezera">
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet"  type="text/css" href="./styles/main.css">
    </head>
    <body>
        <main>
            <div class="add">
                <p>Naziv parka: <input type="text" name="value" placeholder="Unesite vrijednost" class="input_holder" id="nazivparka"  ></p>
                <p>Godina osnutka: <input type="text" name="value" placeholder="Unesite vrijednost" class="input_holder" id="godinaosnutka"  ></p>
                <p>Država: <input type="text" name="value" placeholder="Unesite vrijednost" class="input_holder" id="drzava"  ></p>
                <p>Lokacija: <input type="text" name="value" placeholder="Unesite vrijednost" class="input_holder" id="lokacija"  ></p>
                <p>Wikipedia stranica: <input type="text" name="value" placeholder="Unesite vrijednost" class="input_holder" id="wikipediastranica"  ></p>
                <p>Prosječni broj posjetitelja godišnje: <input type="text" name="value" placeholder="Unesite vrijednost" class="input_holder" id="prosjbrposjetiteljagodisnje"  ></p>
                <p>Površina (km na kvadrat): <input type="text" name="value" placeholder="Unesite vrijednost" class="input_holder" id="povrsina"  ></p>
                <p>Nativna vrsta: <input type="text" name="value" placeholder="Unesite vrijednost" class="input_holder" id="nativnevrste"  ></p>
                <p>Službena stranica: <input type="text" name="value" placeholder="Unesite vrijednost" class="input_holder" id="sluzbenastranica"  ></p>
                <p>Klima: <input type="text" name="value" placeholder="Unesite vrijednost" class="input_holder" id="klima"  ></p>
            </div>
            <div>
                <a href="/add"><input type="button" id="clickme" value="Dodaj zapis" class="button"/></a>
            </div>
        </main>
    </body>
</html>